{% extends 'base.html.twig' %}

{% block title %}Seance{% endblock %}

{% block body %}
    
    <div class="lignePage pageFormulaire pageFormSeance">
    
        <div class="colonnePage">
            {% if seance is defined %}
                <div class="titre">Edition de séance</div>
            {% else %}
                <div class="titre">Création de séance</div>
            {% endif %}
            
                {# Désactive les champs required par défaut #}
                {{ form_start(form, { attr: {novalidate: 'novalidate'} }) }}

                    {% if not form.vars.valid %}

                        <div class="message erreur">
                            {{ form_errors(form.nom) }}   
                            {{ form_errors(form.description) }}               
                        </div>

                    {% endif %}

                    <div class="formSeance">

                        <div class="saisieSeance">

                            <div class="saisie">
                                {{ form_label(form.nom) }}
                                {{ form_widget(form.nom) }}
                            </div>
                
                            <div class="saisie">
                                {{ form_label(form.jeu) }}
                                {{ form_widget(form.jeu) }}
                            </div>               
                    
                            <div class="saisie">
                                {{ form_label(form.date) }}
                                {{ form_widget(form.date) }}
                            </div>

                            <div class="saisie">
                                {{ form_label(form.heure) }}
                                {{ form_widget(form.heure) }}
                            </div>

                            <div class="saisie">
                                {{ form_label(form.plateforme) }}
                                {{ form_widget(form.plateforme) }}
                            </div>

                        </div>

                        <div class="saisieSeance">

                            <div class="saisie">
                                {{ form_label(form.description) }}
                                {{ form_widget(form.description) }}
                            </div>

                {{ form_end(form) }}

                            <div class="saisie actionForm">
                                {% if seance is defined %}
                                    <button type="submit" class="btn">Editer</button>
                                    
                                    <form method="post" action="{{ path('supprime_seance', {'id': seance.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ seance.id) }}">
                                        <button class="btn">Supprimer</button>
                                    </form>

                                {% else %}
                                    <button type="submit" class="btn">Créer</button>
                                {% endif %}

                                <a href="{{ path('toutes_les_seances') }}">Retour</a>

                            </div>
                        
                        </div>

                    </div>

        </div>
    
    </div>

{% endblock %}