{% extends 'base.html.twig' %}

{% block title %}Seance index{% endblock %}

{% block body %}

    <div class="lignePage">
    
        <div class="colonnePage toutes-les-seances">
            <div class="titre">Toutes les séances</div>
            
            {# pagination #}
            <div class="page">
                {{ knp_pagination_render(seances) }}
            </div>

            <div class="tableau">
                        
                <div class="ligne">
                    <div class="colonne">#</div>
                    <div class="colonne">Jeu</div>
                    <div class="colonne">Date et heure</div>
                    <div class="colonne">Description</div>
                    <div class="colonne">Participation ?</div>
                </div>
                        
                {% for seance in seances %}
                    <div class="ligne">
                        <div class="colonne">
                            <div class="miniature"><img src="{{ asset('images/jeux/' ~ seance.jeu.image) }}" alt="{{ seance.jeu.nom }}"></div>
                                <div>{{ seance.jeu.nom }}</div>
                            </div>
                                
                                <div class="colonne">
                                    <div>{{ seance.nom }}</div>
                                    <div>{{ seance.organisateur.pseudo }}</div>
                                    <div>{{ seance.joueurs|length }}/{{ seance.jeu.nbJoueurMax }} participants</div>
                                </div>

                                <div class="colonne">
                                    <div>{{ seance.date ? seance.date|date('Y-m-d') : '' }}</div>
                                    <div>{{ seance.heure ? seance.heure|date('H:i') : '' }}</div>
                                    <div>{{ seance.plateforme }}</div>                                
                                </div>

                                <div class="colonne">
                                    <div>{{ seance.description }}</div>
                                </div>

                                <div class="colonne">
                                    <div class="actions">
                                            <div class="bouton afficher">
                                                <a href="{{ path('app_seance_show', {'id': seance.id}) }}">Afficher les détails</a>
                                            </div>
                                        {% if app.user in seance.joueurs %}
                                            <div class="bouton retirer">
                                                <a href="{{ path('supprimerJoueur', {'id': seance.id}) }}">Se retirer</a>                                                
                                            </div>
                                        {% else %}

                                            {% if seance.joueurs|length < seance.jeu.nbJoueurMax %}
                                                <div class="bouton participer">
                                                    <a href="{{ path('ajouterJoueur', {'id': seance.id}) }}">Participer</a>
                                                </div>
                                            {% else %}
                                                <div>Complet</div>
                                            {% endif %}

                                        {% endif %}                                   
                                    </div>

                                </div>



                    </div>
                {% endfor %}

            </div>
            
        </div>

    </div>

{% endblock %}
