{% extends 'base.html.twig' %}

{% block title %}Seance{% endblock %}

{% block body %}

    <div class="lignePage">

        <div class="colonnePage profil">

            <div class="infoIndividuel">
                <div class="photo"><img src="{{ asset('images/jeux/' ~ seance.jeu.image) }}" alt="{{ seance.jeu.nom }}"></div>
                <div class="info">
                    <div id="titreInfo">{{ seance.nom }}</div>
                    <div class="elemInfo">{{ seance.jeu.nom }}</div>
                    <div class="elemInfo">{{ seance.date ? seance.date|date('Y-m-d') : '' }} à {{ seance.heure ? seance.heure|date('H:i:s') : '' }} sur {{ seance.plateforme }}</div>
                
                    <div class="actions">
                        <div class="bouton modifier">
                            <a href="{{ path('app_seance_edit', {'id': seance.id}) }}">Modifier la séance</a>
                        </div>
            
                        <div class="bouton retirer">
                            <a href="{{ path('app_seance_delete', {'id': seance.id}) }}">Supprimer la séance</a>
                        </div>
                    </div>
                
                </div>

            </div>

            <div class="autreInfoSeance">
                <div class="descriptionSeance">
                    {{ seance.description }}
                </div>
                <div class="lesParticipants">
                    <div id="titreParticipant">Les participants</div>
                    {% if seance.joueurs is not empty %}
                        {% for joueur in seance.joueurs %}
                            <div class="participant">
                                <img src="{{ asset('images/avatars/' ~ joueur.avatar) }}" alt="{{ joueur.pseudo }}">
                                <span>{{ joueur.pseudo }}</span>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="participant">
                            Aucun joueur
                        </div>
    
                    {% endif %}
                </div>
            </div>

        </div>
    </div>

{% endblock %}
