{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}

    {% for label, messages in app.flashes %}
        {% if label == 'success' %}
            <div class="lignePage">
                <div class="succes">{{ messages.0 }}</div>
            </div>
        {% endif %}
    {% endfor %}

    <div class="lignePage">

        <div class="colonnePage profil">

            <div class="infoIndividuel">
                <div class="photo"><img src="{{ asset('images/avatars/' ~ joueur.avatar) }}" alt="{{ joueur.pseudo }}"></div>
                <div class="info">
                    <div id="titreInfo">{{ joueur.pseudo }}</div>
                    <div class="elemInfo">Email : {{ joueur.email }}</div>
                    {% if app.user %}
                        <div class="actions">
                            <div class="bouton modifier">
                                <a href="{{ path('modifier_joueur', {'id': joueur.id}) }}">Modifier mon profil</a>
                            </div>
            
                            <div class="bouton retirer">
                                <a href="{{ path('supprimer_joueur', {'id': joueur.id}) }}">Supprimer mon compte</a>
                            </div>
                        </div>
                    {% endif %}

                </div>

            </div>

        </div>


    </div>



{% endblock %}
