{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}

    <img src="{{ asset('images/avatars/' ~ joueur.avatar) }}" alt="{{ joueur.pseudo }}">
    Email : {{ joueur.email }}
    Pseudo : {{ joueur.pseudo }}

    <a href="{{ path('modifier_joueur', {'id': joueur.id}) }}">Modifier mon profil</a>

{% endblock %}
