{% extends 'admin/baseAdmin.html.twig' %}


{% block title %}Editeur{% endblock %}

{% block body %}

    <div class="container">

        {% if editeur is defined %}
            <h3 class="text-center">Modifier un éditeur</h3>
        {% else %}
            <h3 class="text-center">Insertion d'éditeur</h3>
        {% endif %}
                
        <div class="row mt-5">

            <div class="col-md-8 mx-auto">
                    
                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                    
                    {% if form_errors(form.nom) is not empty %}
                        
                        <div class="alert alert-danger">
                            {{ form_errors(form.nom) }}
                        </div>
                    {% endif %}

                    <div class="form-group row">
                        <div class="col-sm-2 col-form-label">
                            {{ form_label(form.nom) }}
                        </div>

                        <div class="col-sm-10">
                            {{ form_widget(form.nom) }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-2 col-form-label">
                            {{ form_label(form.logo) }}
                        </div>

                        <div class="col-sm-10">
                            {{ form_widget(form.logo) }}
                        </div>
                    </div>
                    {% if editeur is defined %}
                        <button type="submit" class="d-block col-2 btn btn-warning my-3" >Modifier</button>
                    {% else %}
                        <button type="submit" class="d-block col-2 btn btn-warning my-3" >Ajouter</button>
                    {% endif %}

                {{ form_end(form) }}                    
                            
            </div>
        </div>
    </div>

    <a href="{{ path('index_editeur') }}">Retour</a>

{% endblock %}