{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}{{ jeu_societe.nom }}{% endblock %}

{% block body %}
    <h1>{{ jeu_societe.nom }}</h1>

    <img src="{{ asset('jeux/' ~ jeu_societe.image) }}" alt="{{ jeu_societe.nom }}">
    <br/>
    <a href="{{ path('index_jeu_societe') }}">Retour</a>

{% endblock %}
