{% extends 'base.html.twig' %}

{% block title %}Ludibique{% endblock %}

{% block body %}
        <div class="lignePage">
        
            <div class="colonnePage mes-seances">
                <div class="titre">Mes séances</div>

                <div class="page">
                    {{ knp_pagination_render(seances) }}
                </div>

                    <div class="tableau">
                        
                        <div class="ligne">
                            <div class="colonne">Jeu</div>
                            <div class="colonne">Séance</div>
                            <div class="colonne">Infos</div>
                            <div class="colonne">Participation ?</div>
                            <div class="colonne">Actions</div>
                        </div>
                        {% for seance in seances %}
                            <div class="ligne">
                                <div class="colonne">
                                    <div class="miniature"><img src="{{ asset('images/jeux/' ~ seance.jeu.image) }}" alt="{{ seance.jeu.nom }}"></div>
                                    <div>{{ seance.jeu.nom }}</div>
                                </div>
                                
                                <div class="colonne">
                                    <div>{{ seance.nom }}</div>
                                    <div>{{ seance.joueurs|length }}/{{ seance.jeu.nbJoueurMax }} participants</div>
                                    
                                </div>

                                <div class="colonne">
                                    <div>{{ seance.plateforme }}</div>
                                    <div>{{ seance.date ? seance.date|date('Y-m-d') : '' }} à {{ seance.heure ? seance.heure|date('H:i') : '' }}</div>
                                </div>

                                <div class="colonne">
                                    <div class="actions">
                                        {% if app.user in seance.joueurs %}
                                            <div class="bouton retirer">
                                                <a href="{{ path('supprimerJoueur', {'id': seance.id}) }}">Se retirer</a>                                                
                                            </div>
                                        {% else %}

                                            {% if seance.joueurs|length < seance.jeu.nbJoueurMax %}
                                                <div class="bouton participer">
                                                    <a href="{{ path('ajouterJoueur', {'id': seance.id}) }}">Participer</a>
                                                </div>
                                            {% else %}
                                                <div>Complet</div>
                                            {% endif %}
                                            
                                        {% endif %}                                   
                                    </div>

                                </div>

                                <div class="colonne">
                                    <div class="actions">
                                        <div class="bouton afficher">
                                            <a href="{{ path('app_seance_show', {'id': seance.id}) }}">Afficher les détails</a>
                                        </div>
                                        <div class="bouton afficher">
                                            <div><a href="{{ path('app_seance_edit', {'id': seance.id}) }}">Modifier</a></div>                                        
                                        </div>
                                        <div class="bouton retirer">
                                            <a href="{{ path('app_seance_delete', {'id': seance.id}) }}">Annuler</a>
                                        </div>                                   
                                    </div>
                                </div>

                            </div>
                        {% endfor %}

                    </div>
            </div>
        
            <div class="colonnePage mes-participations">
                <div class="titre">Mes participations</div>

                    <div class="page">
                        {{ knp_pagination_render(participations) }}
                    </div>

                    <div class="tableau">

                        <div class="ligne">
                            <div class="colonne">#</div>
                            <div class="colonne">Jeu</div>
                            <div class="colonne">Séance</div>
                            <div class="colonne">Participation</div>
                        </div>

                        {% for participation in participations %} 
                            <div class="ligne">
                                <div class="colonne">
                                    <div class="miniature"><img src="{{ asset('images/jeux/' ~ participation.jeu.image) }}" alt="{{ participation.jeu.nom }}"></div>
                                </div>
                                
                                <div class="colonne">{{ participation.jeu.nom }}</div>
                                <div class="colonne">{{ participation.nom }}</div>
                                <div class="colonne">
                                    <div class="actions">
                                        <div class="bouton retirer">
                                            <a href="{{ path('supprimerJoueur', {'id': participation.id}) }}">Se retirer</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        
                    </div>
            </div>
        </div>

{% endblock %}